<footer class="container mt-auto">
    Built by <strong>Zhongchi (Leo) Li</strong> for the Hack the North Frontend Challenge 2021 <br>
    <small>Illustration by <a href="https://icons8.com/illustrations/author/5dbc313c01d03600167c33bc">Thierry Fousse</a>, <a href="https://icons8.com/illustrations/author/6023f2cd123f99000e63cdd1">Anna Antipina</a>, and <a href="https://icons8.com/illustrations/author/5eb29f8301d0360018f18b01">Maria Shukshina</a> from <a href="https://icons8.com/illustrations">Ouch!</a></small>

</footer>